.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid rgb(184, 176, 176);
    border-top: 0;
    font-size: max(1vw,10px);
}

.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 3.8vw;
    width: 14.1vw;
    border: 1px solid rgb(184, 176, 176);
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}


.sidebar-option.active{
    background-color: rgb(247, 188, 188);
    border-color:  rgb(3, 3, 3);
    border-radius: 2px;
    padding: 2px;    
}

@media (max-width: 950px){
    .sidebar-option p{
        display: none;
    }
    .sidebar-options img{
        width: 2.5vw;
        height: 2.5vw;
    }
}