.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: rgb(199, 196, 196);
    font-size: 16px;
}

.add form{
    gap:20px;
}

.add-img-upload img{
    width: 120px;
    cursor: pointer;
}

.add-product-name , .add-product-description{
    width: max(40%,280px);
}

.add-product-name input ,.add-product-description textarea{
    padding: 10px;
}


.add-category-price {
    display: flex;
    gap: 20px;
}

.add-category-price select , .add-category-price input{
    max-width: 120px;
    padding: 10px;  
}

.add-btn{
    max-width: 120px;
    /* border: none; */
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    background-color:rgb(255, 62, 28);
    color: rgb(245, 245, 245);
    cursor: pointer;
    margin-bottom: 10px;
}